workflows/Perplexity_For_Vera.json
{"createdAt":"2025-07-29T08:35:53.483Z","updatedAt":"2025-08-14T12:24:17.926Z","id":"VZP3jdU9iIZxeEK8","name":"Perplexity_For_Vera","active":false,"isArchived":false,"nodes":[{"parameters":{"method":"POST","url":"https://api.perplexity.ai/chat/completions","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"model\": \"sonar-reasoning-pro\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"РОЛЬ: Ты — профессиональный помощник и личный менеджер для решения задач в российской юрисдикции. ЗАДАЧА: Предоставь полный и актуальный ответ на запрос пользователя, используя современную информацию. ПОДХОД К РЕШЕНИЮ: 1.Разбей сложные вопросы на простые подвопросы; 2.Ищи актуальную информацию поэтапно; 3.Собирай и анализируй данные последовательно; 4.Формулируй комплексный ответ на основе найденной информации. ГЕОГРАФИЧЕСКИЙ КОНТЕКСТ: По умолчанию все запросы касаются исключительно и только Российской Федерации, если иное не указано явно. ФОРМАТ ОТВЕТА: 1.Структурированный и понятный ответ; 2.Актуальные данные с указанием источников; 3.Без описания процесса поиска информации; 4.В конце ответа обязательно приведи раздел 'Источники' со всеми ссылками на первоисточники, которые использовались при подготовке ответа. ОГРАНИЧЕНИЯ: 1.Используй только проверенную и актуальную информацию; 2.Не описывай методологию решения в финальном ответе; 3.Фокусируйся на российском законодательстве и практике\"\n    },\n    {\n      \"role\": \"user\",\n        \"content\": \"МАКСИМАЛЬНО ДЕТАЛЬНО проанализируй следующий запрос: '{{ $json.message.text }}'.\"\n    }\n  ]\n}\n","options":{}},"id":"be729536-b32d-482a-9df2-3a17a4f36b07","name":"Perplexity Research","type":"n8n-nodes-base.httpRequest","position":[-80,368],"typeVersion":4.2,"credentials":{"httpHeaderAuth":{"id":"t6CVMb8vvWuOVhLV","name":"Header Auth Perplexity"}},"onError":"continueErrorOutput"},{"parameters":{"updates":["*"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.1,"position":[-480,368],"id":"59b8bfa0-8f23-4382-94e5-62888c785cc0","name":"Telegram Trigger","webhookId":"32792b6a-4e66-4cef-8b79-5ad1df050e15","notesInFlow":false,"credentials":{"telegramApi":{"id":"H9CNjG766aRTK63z","name":"Perplexity_For_Vera"}}},{"parameters":{"chatId":"={{ $('Telegram Trigger').all()[0].json.message.chat.id }}","text":"={{ $json.output }}","additionalFields":{"appendAttribution":false,"parse_mode":"HTML"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[128,768],"id":"7a309bd2-f602-4042-9a98-406c0cc3a85d","name":"Send a text message","webhookId":"af714694-db5b-4f3f-8e41-c157f823855d","credentials":{"telegramApi":{"id":"H9CNjG766aRTK63z","name":"Perplexity_For_Vera"}},"onError":"continueErrorOutput"},{"parameters":{"jsCode":"const MAX_MESSAGE_LENGTH = 4000;\nconst originalText = $input.all()[0].json.text;\n\nfunction extractCleanText(text) {\n  if (!text) return '';\n  \n  let cleanText = '';\n  \n  // 1. Пробуем найти текст после </think\\> (ваш вариант)\n  if (text.includes('</think\\\\>')) {\n    const parts = text.split('</think\\\\>');\n    cleanText = parts[parts.length - 1]; // берем последнюю часть\n  }\n  // 2. Если не найден, пробуем обычный </think>\n  else if (text.includes('</think>')) {\n    const parts = text.split('</think>');\n    cleanText = parts[parts.length - 1]; // берем последнюю часть\n  }\n  // 3. Если нет закрывающих тегов, берем весь текст\n  else {\n    cleanText = text;\n  }\n  \n  // Дополнительная очистка\n  cleanText = cleanText\n    .replace(/<\\/?think\\\\?>/g, '') // удаляем оставшиеся теги think\n    .replace(/^[\"'\\s]+|[\"'\\s]+$/g, '') // убираем кавычки в начале/конце\n    .replace(/\\\\([.,:;!?])/g, '$1') // убираем экранирование знаков препинания\n    .replace(/\\s+/g, ' ') // нормализуем пробелы\n    .trim();\n  \n  return cleanText;\n}\n\nfunction splitText(text, maxLength) {\n  if (text.length <= maxLength) {\n    return [text];\n  }\n  \n  const parts = [];\n  let currentPart = '';\n  const words = text.split(' ');\n  \n  for (const word of words) {\n    if ((currentPart + ' ' + word).length > maxLength) {\n      if (currentPart) {\n        parts.push(currentPart.trim());\n        currentPart = word;\n      } else {\n        // Если одно слово больше лимита, разрезаем принудительно\n        const chunks = word.match(new RegExp(`.{1,${maxLength}}`, 'g'));\n        parts.push(...chunks.slice(0, -1));\n        currentPart = chunks[chunks.length - 1];\n      }\n    } else {\n      currentPart += (currentPart ? ' ' : '') + word;\n    }\n  }\n  \n  if (currentPart) {\n    parts.push(currentPart.trim());\n  }\n  \n  return parts;\n}\n\n// Извлекаем чистый текст\nconst cleanText = extractCleanText(originalText);\n\n// Проверяем, есть ли результат\nif (!cleanText || cleanText.length < 5) {\n  return [{\n    json: {\n      text: \"Текст не найден или слишком короткий после очистки\",\n      cleanText: cleanText,\n      originalLength: originalText ? originalText.length : 0\n    }\n  }];\n}\n\n// Разбиваем на части если нужно\nconst textParts = splitText(cleanText, MAX_MESSAGE_LENGTH);\n\n// Возвращаем результат\nreturn textParts.map((part, index) => ({\n  json: {\n    text: textParts.length > 1 ? `📝 Часть ${index + 1}/${textParts.length}\\n\\n${part}` : part,\n    cleanText: part,\n    part: index + 1,\n    total_parts: textParts.length\n  }\n}));\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[336,368],"id":"76452a70-d20b-40c5-9756-a40e4456c858","name":"Delete_Think_Block","onError":"continueErrorOutput"},{"parameters":{"model":{"__rl":true,"value":"gpt://b1g9v3gfrgpacf17n0e9/yandexgpt/latest","mode":"list","cachedResultName":"gpt://b1g9v3gfrgpacf17n0e9/yandexgpt/latest"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-240,928],"id":"2024fa88-3ac0-4773-b192-e9275f489aed","name":"YandexGPT1","credentials":{"openAiApi":{"id":"ONqffXNvtrH17VKj","name":"Yandex GPT"}}},{"parameters":{"mode":"runOnceForEachItem","jsCode":"{{\nconst text = $input.item.json.cleanText;\nconst escaped = text.replace(/[_*[\\]()~`>#+\\-=|{}.!]/g, '\\\\$&');\nreturn { json: { escaped_text: escaped } };\n}}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[544,368],"id":"dd4cd80a-e65e-4660-b932-bc92cbd7377f","name":"Экранирование для Телеграм","onError":"continueErrorOutput"},{"parameters":{"chatId":"={{ $('Telegram Trigger').all()[0].json.message.chat.id }}","text":"={{ $json.escaped_text }}","additionalFields":{"appendAttribution":false,"parse_mode":"MarkdownV2"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[944,768],"id":"b81c2029-6d3c-4515-8194-bcdc5c22f1e5","name":"On Error","webhookId":"7ce4eba0-a513-4a42-ab29-6e705573ef76","credentials":{"telegramApi":{"id":"HcGQaqmp9jWexBXY","name":"Yurist_RB_test_bot"}}},{"parameters":{"model":{"__rl":true,"value":"gpt://b1g9v3gfrgpacf17n0e9/yandexgpt/latest","mode":"id"},"options":{"maxTokens":4000,"temperature":0.2}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[432,928],"id":"679db2b8-a36b-4ae7-bb7b-e2957a3b77ea","name":"Yandex GPT2","credentials":{"openAiApi":{"id":"ONqffXNvtrH17VKj","name":"Yandex GPT"}}},{"parameters":{"jsCode":"const text = $input.first().json.output;\nconst escaped = text.replace(/[_*[\\]()~`>#+\\-=|{}.!]/g, '\\\\$&');\nreturn { json: { escaped_text: escaped } };"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[720,768],"id":"779c48ab-c27b-4b80-aec1-032630127c16","name":"Экранирование спец.символов"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[128,576],"id":"b6726185-ec1e-4ac1-be47-b1c946cc1b0b","name":"."},{"parameters":{"height":304,"width":640,"color":4},"type":"n8n-nodes-base.stickyNote","position":[-288,736],"typeVersion":1,"id":"9e309cbf-dd8b-4b7d-8893-d03d09338b2f","name":"Sticky Note"},{"parameters":{"height":304,"width":752,"color":3},"type":"n8n-nodes-base.stickyNote","position":[384,736],"typeVersion":1,"id":"902622df-8111-488a-8865-a323d1e26600","name":"Sticky Note1"},{"parameters":{"promptType":"define","text":"={{ $json.error }}","options":{"systemMessage":"=МАКСИМАЛЬНО ДЕТАЛЬНО, ВПЛОТЬ ДО КАЖДОГО ЗНАКА проанализируй текст, предоставленный в сообщении от пользователя.\nДанный текст выдал узел \"{{ $json.NodeName }}\"\nПри работе с докментом {{ $json.ActName }}\nМАКСИМАЛЬНО КРАТКО напиши СУТЬ ошибки\nДай КРАТКОЕ предположение причины ошибки.\nБЕЗ твоих рекомендаций. \nБЕЗ разъяснения анализа.\nБЕЗ каких-либо детализаций.\nИгнорируй ключ \"stack\" ПОЛНОСТЬЮ\nИСКЛЮЧИТЕЛЬНО суть ошибки и краткое предположение\n\nПример грамотного ответа:\n\"\n!!! Внимание !!!\nWorkflow закончил работу с ошибкой\n● Узел:\n  \"GET PDF FILE\"\n● Документ (если он указан):\n  \"Постановление №123 от 2021.01.01\"\n● Суть ошибки:\n  HTTP 404 (Not Found) — запрашиваемый PDF-файл отсутствует на сервере\n● Предполагаемая причина:\n  Неверный URL, перемещённый или удалённый файл\n\""}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[432,768],"id":"08dd356b-f362-4e4c-9d79-8ccd1957a907","name":"Yandex GPT Create Error"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"1bab28a2-5656-4449-a0c9-6c3e186c4c97","leftValue":"={{ $json.message.entities[0].type }}","rightValue":"=bot_command","operator":{"type":"string","operation":"notContains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-288,368],"id":"b3eaa16d-ec26-4b32-b3de-f0aea0943336","name":"If"},{"parameters":{"chatId":"={{ $('Telegram Trigger').all()[0].json.message.chat.id }}","text":"=Привет, {{ $json.message.from.first_name }} !\nНапиши мне свой вопрос и я найду подробную и точную информацию.\nУЧТИ! \nУ меня нет памяти (на данный момент): каждое твоё сообщение - как новый диалог.","additionalFields":{"appendAttribution":false,"parse_mode":"HTML"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-128,560],"id":"a0d0a649-5f65-4ad4-b269-a05724e9c724","name":"Send a text message1","webhookId":"af714694-db5b-4f3f-8e41-c157f823855d","credentials":{"telegramApi":{"id":"H9CNjG766aRTK63z","name":"Perplexity_For_Vera"}},"onError":"continueErrorOutput"},{"parameters":{"promptType":"define","text":"={{ $json.escaped_text }}","options":{"systemMessage":"=РОЛЬ:\nТы — редактор текста для подготовки контента к публикации в Телеграм.\n\nЗАДАЧА:\nОчисти входной текст от лишних символов экранирования и Markdown-разметки, сохранив читаемость для Телеграм.\n\nЧТО УДАЛИТЬ:\n- Обратные слеши перед символами: `\\*`, `\\_`, `$$`, `$$`, `$$`, `$$`\n- Markdown-разметку: `**`, `*`, `__`, `_`, `#`, `##`, `###`, `` ` ``, `` ``` ``\n- HTML-теги: ``, ``, ``, ``, ``, ``\n- Лишние переносы строк (более двух подряд)\n\nЧТО СОХРАНИТЬ:\n- Смысловые знаки препинания\n- Структуру абзацев\n- Нумерацию и маркированные списки (но без Markdown-символов)\n\nФОРМАТ ОТВЕТА:\nВыведи только очищенный текст без дополнительных комментариев.\n\nПРИМЕР:\n\nВходной текст:\n```\n## Заголовок\\: важная информация\n\n\\* **Пункт 1** \\- описание\n\\* *Пункт 2* \\- `код`\n\n[Ссылка](example\\.com)\n```\n\nВыходной текст после твоей обработки:\n```\nЗаголовок: важная информация\n\n-  Пункт 1 - описание\n-  Пункт 2 - код\n\nexample.com\n```\n\nОГРАНИЧЕНИЯ:\n- Не добавляй пояснения или комментарии к процессу очистки\n- Не меняй смысл текста, только форматирование\n- Сохраняй логическую структуру оригинала"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.1,"position":[-240,768],"id":"f849c709-56c3-4e50-ae62-84c0f23b69c3","name":"Reformat For Telegram","onError":"continueErrorOutput"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[336,576],"id":"99371c1b-e102-4ca6-9f93-9cbc86dc9e74","name":".."},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[544,576],"id":"c3dc447b-bdef-455d-8bff-3898e4a1a096","name":"..."},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[752,576],"id":"2b89272f-3018-4789-951d-96988a65e72e","name":"...."},{"parameters":{"assignments":{"assignments":[{"id":"2944b985-89d5-4ebc-994a-4f008f1f39c4","name":"text","value":"={{\n$json.choices[0].message.content.replace(/\\[(\\d+)\\]/g, (match, num) => {\n  const index = parseInt(num) - 1;\n  const citations = $json.citations || [];\n  if (citations[index]) {\n    return `[${citations[index]}]`;\n  } else {\n    return ''; // удаляем сноску, если источник не найден\n  }\n})\n}}\n","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[128,368],"id":"e518fa09-e6ec-4b7a-b4e1-dc8d617af2b9","name":"Change Links","onError":"continueErrorOutput"}],"connections":{"Perplexity Research":{"main":[[{"node":"Change Links","type":"main","index":0}],[{"node":".","type":"main","index":0}]]},"Telegram Trigger":{"main":[[{"node":"If","type":"main","index":0}]]},"Send a text message":{"main":[[],[{"node":"..","type":"main","index":0}]]},"Delete_Think_Block":{"main":[[{"node":"Экранирование для Телеграм","type":"main","index":0}],[{"node":"...","type":"main","index":0}]]},"YandexGPT1":{"ai_languageModel":[[{"node":"Reformat For Telegram","type":"ai_languageModel","index":0}]]},"Экранирование для Телеграм":{"main":[[{"node":"Reformat For Telegram","type":"main","index":0}],[{"node":"....","type":"main","index":0}]]},"Yandex GPT2":{"ai_languageModel":[[{"node":"Yandex GPT Create Error","type":"ai_languageModel","index":0}]]},"Экранирование спец.символов":{"main":[[{"node":"On Error","type":"main","index":0}]]},".":{"main":[[{"node":"..","type":"main","index":0}]]},"Yandex GPT Create Error":{"main":[[{"node":"Экранирование спец.символов","type":"main","index":0}]]},"If":{"main":[[{"node":"Perplexity Research","type":"main","index":0}],[{"node":"Send a text message1","type":"main","index":0}]]},"Send a text message1":{"main":[[],[{"node":".","type":"main","index":0}]]},"Reformat For Telegram":{"main":[[{"node":"Send a text message","type":"main","index":0}],[{"node":".","type":"main","index":0}]]},"..":{"main":[[{"node":"...","type":"main","index":0}]]},"...":{"main":[[{"node":"....","type":"main","index":0}]]},"....":{"main":[[{"node":"Yandex GPT Create Error","type":"main","index":0}]]},"Change Links":{"main":[[{"node":"Delete_Think_Block","type":"main","index":0}],[{"node":"..","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"73b5128e-c695-4e5a-adb3-48c42c777ff3","triggerCount":1,"shared":[{"createdAt":"2025-07-29T08:35:53.483Z","updatedAt":"2025-07-29T08:35:53.483Z","role":"workflow:owner","workflowId":"VZP3jdU9iIZxeEK8","projectId":"2aYDbJAthPdR3hBL","project":{"createdAt":"2025-02-02T15:37:04.955Z","updatedAt":"2025-02-04T07:40:44.413Z","id":"2aYDbJAthPdR3hBL","name":"Oleg Ovchinnikov <oleg19091988@gmail.com>","type":"personal","icon":null,"description":null,"projectRelations":[{"createdAt":"2025-02-02T15:37:04.955Z","updatedAt":"2025-02-02T15:37:04.955Z","role":"project:personalOwner","userId":"c59bb383-18bc-4b63-a433-da7ed3447ae2","projectId":"2aYDbJAthPdR3hBL","user":{"createdAt":"2025-02-02T15:37:04.955Z","updatedAt":"2025-08-13T21:00:01.844Z","id":"c59bb383-18bc-4b63-a433-da7ed3447ae2","email":"oleg19091988@gmail.com","firstName":"Oleg","lastName":"Ovchinnikov","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-02-04T07:41:51.160Z","personalization_survey_n8n_version":"1.76.1","automationGoalDevops":[],"companySize":"<20","companyType":"education","role":"it","reportedSource":"friend"},"settings":{"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"BVH7vT81Bh0WzLSc","userActivated":true,"userActivatedAt":1738791768104,"npsSurvey":{"waitingForResponse":true,"ignoredCount":1,"lastShownAt":1754817044760}},"role":"global:member","disabled":false,"mfaEnabled":false,"lastActiveAt":"2025-08-13","isPending":false}}]}}],"tags":[]}