workflows/Perplexity_For_Vera.json
{"createdAt":"2025-08-23T21:00:35.014Z","updatedAt":"2025-09-24T13:37:35.951Z","id":"pJEVoteweyFVf8I7","name":"Perplexity_For_Vera","active":false,"isArchived":false,"nodes":[{"parameters":{"method":"POST","url":"https://api.perplexity.ai/chat/completions","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"model\": \"sonar-reasoning\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"РОЛЬ: Ты — профессиональный помощник и личный менеджер для решения задач в российской юрисдикции. ЗАДАЧА: Предоставь полный и актуальный ответ на запрос пользователя, используя современную информацию. ПОДХОД К РЕШЕНИЮ: 1.Разбей сложные вопросы на простые подвопросы; 2.Ищи актуальную информацию поэтапно; 3.Собирай и анализируй данные последовательно; 4.Формулируй комплексный ответ на основе найденной информации. ГЕОГРАФИЧЕСКИЙ КОНТЕКСТ: По умолчанию все запросы касаются исключительно и только Российской Федерации, если иное не указано явно. ФОРМАТ ОТВЕТА: 1.Структурированный и понятный ответ; 2.Актуальные данные с указанием источников; 3.Без описания процесса поиска информации; 4.В конце ответа обязательно приведи раздел 'Источники' со всеми ссылками на первоисточники, которые использовались при подготовке ответа. ОГРАНИЧЕНИЯ: 1.Используй только проверенную и актуальную информацию; 2.Не описывай методологию решения в финальном ответе; 3.Фокусируйся на российском законодательстве и практике\"\n    },\n    {\n      \"role\": \"user\",\n        \"content\": \"МАКСИМАЛЬНО ДЕТАЛЬНО проанализируй следующий запрос: '{{ $json.message.text }}'.\n    }\n  ]\n}\n","options":{}},"id":"2ab7d0b4-d275-4305-b35e-01cfec5143a9","name":"Perplexity Research","type":"n8n-nodes-base.httpRequest","position":[400,-240],"typeVersion":4.2,"credentials":{"httpHeaderAuth":{"id":"afYGpLOub3YhkslO","name":"Header Auth account"}},"onError":"continueErrorOutput"},{"parameters":{"updates":["*"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.1,"position":[0,-240],"id":"8c74a0ff-0c54-4bf2-bb7d-3bded8ab5d1f","name":"Telegram Trigger","webhookId":"ad67682d-2908-4ccf-9053-d867667a2b7f","notesInFlow":false,"credentials":{"telegramApi":{"id":"hnGinHPNsrJzL0wn","name":"Perplexity_For_Vera"}}},{"parameters":{"chatId":"={{ $('Telegram Trigger').all()[0].json.message.chat.id }}","text":"={{ $json.cleanText }}","additionalFields":{"appendAttribution":false,"parse_mode":"HTML"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[2192,-240],"id":"2b42937e-e73a-46ca-898d-92a4e0efe174","name":"Send a text message","webhookId":"acde47bc-e9f3-47f6-ba8d-7c45f562b1f0","credentials":{"telegramApi":{"id":"hnGinHPNsrJzL0wn","name":"Perplexity_For_Vera"}},"onError":"continueErrorOutput"},{"parameters":{"jsCode":"const MAX_MESSAGE_LENGTH = 4000;\n\nconst originalText = $input.all()[0].json.text;\n\nfunction extractCleanText(text) {\n  if (!text) return '';\n  \n  let cleanText = '';\n  \n  // 1. Пробуем найти текст после </think\\> (ваш вариант)\n  if (text.includes('</think\\\\>')) {\n    const parts = text.split('</think\\\\>');\n    cleanText = parts[parts.length - 1]; // берем последнюю часть\n  }\n  // 2. Если не найден, пробуем обычный </think>\n  else if (text.includes('</think>')) {\n    const parts = text.split('</think>');\n    cleanText = parts[parts.length - 1]; // берем последнюю часть\n  }\n  // 3. Если нет закрывающих тегов, берем весь текст\n  else {\n    cleanText = text;\n  }\n  \n  // Дополнительная очистка\n  cleanText = cleanText\n    .replace(/<\\/?think\\\\?>/g, '') // удаляем оставшиеся теги think\n    .replace(/^[\"'\\s]+|[\"'\\s]+$/g, '') // убираем кавычки в начале/конце\n    .replace(/\\\\([.,:;!?])/g, '$1') // убираем экранирование знаков препинания\n    .replace(/\\s+/g, ' ') // нормализуем пробелы\n    .trim();\n  \n  return cleanText;\n}\n\nfunction splitText(text, maxLength) {\n  if (text.length <= maxLength) {\n    return [text];\n  }\n  \n  const parts = [];\n  let currentPart = '';\n  const words = text.split(' ');\n  \n  for (const word of words) {\n    if ((currentPart + ' ' + word).length > maxLength) {\n      if (currentPart) {\n        parts.push(currentPart.trim());\n        currentPart = word;\n      } else {\n        // Если одно слово больше лимита, разрезаем принудительно\n        const chunks = word.match(new RegExp(`.{1,${maxLength}}`, 'g'));\n        parts.push(...chunks.slice(0, -1));\n        currentPart = chunks[chunks.length - 1];\n      }\n    } else {\n      currentPart += (currentPart ? ' ' : '') + word;\n    }\n  }\n  \n  if (currentPart) {\n    parts.push(currentPart.trim());\n  }\n  \n  return parts;\n}\n\n// Извлекаем чистый текст\nconst cleanText = extractCleanText(originalText);\n\n// Проверяем, есть ли результат\nif (!cleanText || cleanText.length < 5) {\n  return [{\n    json: {\n      text: \"Текст не найден или слишком короткий после очистки\",\n      cleanText: cleanText,\n      originalLength: originalText ? originalText.length : 0\n    }\n  }];\n}\n\n// Разбиваем на части если нужно\n const textParts = splitText(cleanText, MAX_MESSAGE_LENGTH);\n\n// Возвращаем результат\nreturn [{\n  cleanText:cleanText\n}]\n// return textParts.map((part, index) => ({\n//   json: {\n//     text: textParts.length > 1 ? `📝 Часть ${index + 1}/${textParts.length}\\n\\n${part}` : part,\n//     cleanText: part,\n//     part: index + 1,\n//     total_parts: textParts.length\n//   }\n// }));\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[800,-240],"id":"0c2ef46d-5277-4a76-a8dd-f2bb06c2191d","name":"Delete_Think_Block","onError":"continueErrorOutput"},{"parameters":{"jsCode":"\nconst text = $json.cleanText\n  .replace(/[\"]/g, '\\'')\n  .replace(/[\\b]/g, '\\\\b')\n  .replace(/[\\f]/g, '\\\\f')\n  .replace(/[\\n]/g, '')\n  .replace(/[\\r]/g, '\\\\r')\n  .replace(/[\\t]/g, '\\\\t')\n\n\nreturn [{\n  json:{\n    \"answer\": text\n  }\n}];\n\n\n\n\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[992,-240],"id":"47984763-afde-4405-9922-05ac7c83976b","name":"Экранирование для Телеграм","onError":"continueErrorOutput"},{"parameters":{"chatId":"=598255235","text":"={{ $json.answer }}","additionalFields":{"appendAttribution":false,"parse_mode":"MarkdownV2"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[2192,32],"id":"dec93fb8-5082-4369-8c50-ad47efa4040d","name":"On Error","webhookId":"049f5c39-7973-4258-a246-4f9ab9124232","notesInFlow":false,"alwaysOutputData":false,"executeOnce":false,"credentials":{"telegramApi":{"id":"hnGinHPNsrJzL0wn","name":"Perplexity_For_Vera"}}},{"parameters":{"content":"##                   Error Analizer","height":320,"width":1824,"color":3},"type":"n8n-nodes-base.stickyNote","position":[608,-16],"typeVersion":1,"id":"5e3b51a7-0381-4451-8fb7-6eb0c3c83e4e","name":"Sticky Note1"},{"parameters":{"assignments":{"assignments":[{"id":"2944b985-89d5-4ebc-994a-4f008f1f39c4","name":"text","value":"={{\n$json.choices[0].message.content.replace(/\\[(\\d+)\\]/g, (match, num) => {\n  const index = parseInt(num) - 1;\n  const citations = $json.citations || [];\n  if (citations[index]) {\n    return `[${citations[index]}]`;\n  } else {\n    return ''; // удаляем сноску, если источник не найден\n  }\n})\n}}\n","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[608,-240],"id":"e629c046-b8bb-43ab-baec-476f1e1eda64","name":"Change Links","onError":"continueErrorOutput"},{"parameters":{"chatId":"={{ $('Telegram Trigger').all()[0].json.message.chat.id }}","text":"=Привет, {{ $json.message.from.first_name }} !\nНапиши мне свой вопрос и я найду подробную и точную информацию.\nУЧТИ! \nУ меня нет памяти (на данный момент): каждое твоё сообщение - как новый диалог.","additionalFields":{"appendAttribution":false,"parse_mode":"HTML"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[400,32],"id":"7399dad9-8c3c-4358-b273-4cee3a4407b9","name":"Send Hello message","webhookId":"f2e01e0f-5a1d-48f8-ad36-f3c3d81e3348","credentials":{"telegramApi":{"id":"hnGinHPNsrJzL0wn","name":"Perplexity_For_Vera"}},"onError":"continueErrorOutput"},{"parameters":{"chatId":"={{ $('Telegram Trigger').all()[0].json.message.chat.id }}","text":"={{ $json.cleanText }}","additionalFields":{"appendAttribution":false,"parse_mode":"MarkdownV2"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[2192,144],"id":"9977d3f2-a888-4856-9808-9b76115f8454","name":"On Error1","webhookId":"1d74b381-b7aa-4af9-875d-202707267def","credentials":{"telegramApi":{"id":"hnGinHPNsrJzL0wn","name":"Perplexity_For_Vera"}}},{"parameters":{"jsCode":"function getSourceNodeName() {\n  // Пробуем разные способы получения имени\n  return $prevNode.name || 'Unknown Source';\n}\n\nconst nodeName = getSourceNodeName();\nconst errorMessage = $input.first().json.error;\n\nreturn {\n  json: {\n    nodeName:nodeName,\n    error: errorMessage,\n    userName: $('Telegram Trigger').all()[0].json.message.from.first_name,\n    userSername: $('Telegram Trigger').first().json.message.from.username\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[624,32],"id":"ef4a5a50-841d-47cc-8999-b601e1971f37","name":"Get Error."},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"1bab28a2-5656-4449-a0c9-6c3e186c4c97","leftValue":"={{ $json.message.entities[0].type }}","rightValue":"=bot_command","operator":{"type":"string","operation":"notContains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[192,-240],"id":"7944ef00-1c59-4030-84fd-ea461901636c","name":"Is_User_Msg"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1392,-240],"id":"b07cc757-9da3-4306-89ef-ac356c98703b","name":"Merge2"},{"parameters":{"jsCode":"\nconst originalText = $input.all()[0].json.choices[0].message.content\n\nfunction extractCleanText(text) {\n  if (!text) return '';\n  \n  let cleanText = '';\n  \n  // 1. Пробуем найти текст после </think\\> (ваш вариант)\n  if (text.includes('</think\\\\>')) {\n    const parts = text.split('</think\\\\>');\n    cleanText = parts[parts.length - 1]; // берем последнюю часть\n  }\n  // 2. Если не найден, пробуем обычный </think>\n  else if (text.includes('</think>')) {\n    const parts = text.split('</think>');\n    cleanText = parts[parts.length - 1]; // берем последнюю часть\n  }\n  // 3. Если нет закрывающих тегов, берем весь текст\n  else {\n    cleanText = text;\n  }\n  \n  // Дополнительная очистка\n  cleanText = cleanText\n    .replace(/<\\/?think\\\\?>/g, '') // удаляем оставшиеся теги think\n    .replace(/^[\"'\\s]+|[\"'\\s]+$/g, '') // убираем кавычки в начале/конце\n    .replace(/\\\\([.,:;!?])/g, '$1') // убираем экранирование знаков препинания\n    .replace(/\\s+/g, ' ') // нормализуем пробелы\n    .trim();\n  \n  return cleanText;\n}\n\nconst MAX_MESSAGE_LENGTH = 4000;\nfunction splitText(text, maxLength) {\n  if (text.length <= maxLength) {\n    return [text];\n  }\n  \n  const parts = [];\n  let currentPart = '';\n  const words = text.split(' ');\n  \n  for (const word of words) {\n    if ((currentPart + ' ' + word).length > maxLength) {\n      if (currentPart) {\n        parts.push(currentPart.trim());\n        currentPart = word;\n      } else {\n        // Если одно слово больше лимита, разрезаем принудительно\n        const chunks = word.match(new RegExp(`.{1,${maxLength}}`, 'g'));\n        parts.push(...chunks.slice(0, -1));\n        currentPart = chunks[chunks.length - 1];\n      }\n    } else {\n      currentPart += (currentPart ? ' ' : '') + word;\n    }\n  }\n  \n  if (currentPart) {\n    parts.push(currentPart.trim());\n  }\n  \n  return parts;\n}\n\n// Извлекаем чистый текст\nconst cleanText = extractCleanText(originalText);\n\n// Проверяем, есть ли результат\nif (!cleanText || cleanText.length < 5) {\n  return [{\n    json: {\n      text: \"Текст не найден или слишком короткий после очистки\",\n      cleanText: cleanText,\n      originalLength: originalText ? originalText.length : 0\n    }\n  }];\n}\n\n// Разбиваем на части если нужно\n// const textParts = splitText(cleanText, MAX_MESSAGE_LENGTH);\n\n// Возвращаем результат\nreturn [{\n  cleanText:cleanText\n}]\n// return textParts.map((part, index) => ({\n//   json: {\n//     text: textParts.length > 1 ? `📝 Часть ${index + 1}/${textParts.length}\\n\\n${part}` : part,\n//     cleanText: part,\n//     part: index + 1,\n//     total_parts: textParts.length\n//   }\n// }));\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1776,-240],"id":"1815fadd-f652-4fb3-96b6-939faf208da1","name":"Delete_Think_Block1","onError":"continueErrorOutput"},{"parameters":{"jsCode":"\nconst originalText = $input.all()[0].json.cleanText\n\nconst MAX_MESSAGE_LENGTH = 4000;\nfunction splitText(text, maxLength) {\n  if (text.length <= maxLength) {\n    return [text];\n  }\n  \n  const parts = [];\n  let currentPart = '';\n  const words = text.split(' ');\n  \n  for (const word of words) {\n    if ((currentPart + ' ' + word).length > maxLength) {\n      if (currentPart) {\n        parts.push(currentPart.trim());\n        currentPart = word;\n      } else {\n        // Если одно слово больше лимита, разрезаем принудительно\n        const chunks = word.match(new RegExp(`.{1,${maxLength}}`, 'g'));\n        parts.push(...chunks.slice(0, -1));\n        currentPart = chunks[chunks.length - 1];\n      }\n    } else {\n      currentPart += (currentPart ? ' ' : '') + word;\n    }\n  }\n  \n  if (currentPart) {\n    parts.push(currentPart.trim());\n  }\n  \n  return parts;\n}\n\n// Разбиваем текст на части\nconst textParts = splitText(originalText, MAX_MESSAGE_LENGTH);\n\n// Возвращаем результат\n// return [{\n//   textParts:textParts\n// }]\n\nreturn textParts.map((part, index) => ({\n  json: {\n    text: textParts.length > 1 ? `📝 Часть ${index + 1}/${textParts.length}\\n\\n${part}` : part,\n    cleanText: part,\n    part: index + 1,\n    total_parts: textParts.length\n  }\n}));\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1984,-240],"id":"f6b6d791-6020-4a1f-8cfe-304cfcfb601f","name":"Split_Text_For_Telegram","onError":"continueErrorOutput"},{"parameters":{"jsCode":"const text = `\nРОЛЬ:\nТы — редактор текста для подготовки контента к публикации в Телеграм.\n\nЗАДАЧА:\nОчисти входной текст от лишних символов экранирования и Markdown-разметки, сохранив читаемость для Телеграм.\n\nЧТО УДАЛИТЬ:\n- Обратные слеши перед символами: '\\*', '\\_', '$$', '$$', '$$', '$$'\n- Markdown-разметку: '**', '*', '__', '_', '#', '##', '###' ,\n- HTML-теги\n- Лишние переносы строк (более двух подряд)\n\nЧТО СОХРАНИТЬ:\n- Смысловые знаки препинания\n- Структуру абзацев\n- Нумерацию и маркированные списки (но без Markdown-символов)\n\nФОРМАТ ОТВЕТА:\nВыведи только очищенный текст без дополнительных комментариев.\n\nПРИМЕР:\n'\nВходной текст:\n\n## Заголовок\\: важная информация\n\n\\* **Пункт 1** \\- описание\n\\* *Пункт 2* \\- 'код'\n\n[Ссылка](example\\.com)\n'\n\nВыходной текст после твоей обработки:\n'\nЗаголовок: важная информация\n\n-  Пункт 1 - описание\n-  Пункт 2 - код\n\nexample.com\n'\n\nОГРАНИЧЕНИЯ:\n- КАТЕГОРИЧЕСКИ ЗАПРЕЩЕНО проводить поиски в сети Интернет.\n- ИСКЛЮЧИТЕЛЬНО выполнение поставленной задачи.\n- Не добавляй пояснения или комментарии к процессу очистки.\n- Не меняй смысл текста, только форматирование.\n- Сохраняй логическую структуру оригинала.\n`\n\nreturn [{\n  json:{\n    instruction: (text\n                  .replace(/[\"]/g, '\\'')\n                  .replace(/[\\b]/g, '\\\\b')\n                  .replace(/[\\f]/g, '\\\\f')\n                  .replace(/[\\n]/g, '')\n                  .replace(/[\\r]/g, '\\\\r')\n                  .replace(/[\\t]/g, '\\\\t'))\n  }\n}]\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1184,-240],"id":"34ac7bc4-ffbc-4db5-ac0a-8884935d421b","name":"Make Prompt","onError":"continueErrorOutput"},{"parameters":{"method":"POST","url":"https://api.perplexity.ai/chat/completions","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"model\": \"sonar-reasoning\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"{{ $('Merge2').all()[1].json.instruction }}\"\n    },\n    {\n      \"role\": \"user\",\n        \"content\": \"Очисти следующий текст: `{{ $('Merge2').all()[0].json.answer }}`\"\n    }\n  ]\n}\n","options":{}},"id":"37e1becb-57c9-4c92-83a2-9e5fee2cb166","name":"Reformat Message For Telegram","type":"n8n-nodes-base.httpRequest","position":[1584,-240],"typeVersion":4.2,"executeOnce":false,"credentials":{"httpHeaderAuth":{"id":"afYGpLOub3YhkslO","name":"Header Auth account"}},"onError":"continueErrorOutput"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[992,32],"id":"e8a6e705-7205-48e6-a597-eda46d49516c","name":"Merge"},{"parameters":{"jsCode":"const text = `\nМАКСИМАЛЬНО ДЕТАЛЬНО, ВПЛОТЬ ДО КАЖДОГО ЗНАКА проанализируй текст, \nпредоставленный в сообщении от пользователя.\nДанный текст выдал узел (см. сообщение от пользователя)\nМАКСИМАЛЬНО КРАТКО напиши СУТЬ ошибки: (см. сообщение от пользователя)\nДай КРАТКОЕ предположение причины ошибки.\nТЕЗИСНО Дай свои рекомендаций. \nБЕЗ разъяснения анализа.\nБЕЗ каких-либо детализаций.\nИгнорируй ключ \"stack\" ПОЛНОСТЬЮ\nИСКЛЮЧИТЕЛЬНО суть ошибки и краткое предположение\n\nПример грамотного ответа:\n\"\n!!! [userName], Внимание !!!\nWorkflow закончил работу с ошибкой\n- Узел:\n  [nodeName]\n- Суть ошибки:\n  ...\n- Предполагаемая причина:\n  ...\n- Рекомендации по устранению:\n  ...\n- Отправь это сообщение [userSername]\n\"\n`\n\nreturn [{\n  json:{\n    instruction: (text\n                  .replace(/[\"]/g, '\\'')\n                  .replace(/[\\b]/g, '\\\\b')\n                  .replace(/[\\f]/g, '\\\\f')\n                  .replace(/[\\n]/g, '')\n                  .replace(/[\\r]/g, '\\\\r')\n                  .replace(/[\\t]/g, '\\\\t'))\n  }\n}]\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[800,96],"id":"e983f917-12f7-4713-b355-d2f361b1c541","name":"Make Prompt1"},{"parameters":{"jsCode":"\nconst originalText = $input.all()[0].json.choices[0].message.content\n\nfunction extractCleanText(text) {\n  if (!text) return '';\n  \n  let cleanText = '';\n  \n  // 1. Пробуем найти текст после </think\\> (ваш вариант)\n  if (text.includes('</think\\\\>')) {\n    const parts = text.split('</think\\\\>');\n    cleanText = parts[parts.length - 1]; // берем последнюю часть\n  }\n  // 2. Если не найден, пробуем обычный </think>\n  else if (text.includes('</think>')) {\n    const parts = text.split('</think>');\n    cleanText = parts[parts.length - 1]; // берем последнюю часть\n  }\n  // 3. Если нет закрывающих тегов, берем весь текст\n  else {\n    cleanText = text;\n  }\n  \n  // Дополнительная очистка\n  cleanText = cleanText\n    .replace(/<\\/?think\\\\?>/g, '') // удаляем оставшиеся теги think\n    .replace(/^[\"'\\s]+|[\"'\\s]+$/g, '') // убираем кавычки в начале/конце\n    .replace(/\\\\([.,:;!?])/g, '$1') // убираем экранирование знаков препинания\n    .replace(/\\s+/g, ' ') // нормализуем пробелы\n    .trim();\n  \n  return cleanText;\n}\n\nconst MAX_MESSAGE_LENGTH = 4000;\nfunction splitText(text, maxLength) {\n  if (text.length <= maxLength) {\n    return [text];\n  }\n  \n  const parts = [];\n  let currentPart = '';\n  const words = text.split(' ');\n  \n  for (const word of words) {\n    if ((currentPart + ' ' + word).length > maxLength) {\n      if (currentPart) {\n        parts.push(currentPart.trim());\n        currentPart = word;\n      } else {\n        // Если одно слово больше лимита, разрезаем принудительно\n        const chunks = word.match(new RegExp(`.{1,${maxLength}}`, 'g'));\n        parts.push(...chunks.slice(0, -1));\n        currentPart = chunks[chunks.length - 1];\n      }\n    } else {\n      currentPart += (currentPart ? ' ' : '') + word;\n    }\n  }\n  \n  if (currentPart) {\n    parts.push(currentPart.trim());\n  }\n  \n  return parts;\n}\n\n// Извлекаем чистый текст\nconst cleanText = extractCleanText(originalText);\n\n// Проверяем, есть ли результат\nif (!cleanText || cleanText.length < 5) {\n  return [{\n    json: {\n      text: \"Текст не найден или слишком короткий после очистки\",\n      cleanText: cleanText,\n      originalLength: originalText ? originalText.length : 0\n    }\n  }];\n}\n\n// Разбиваем на части если нужно\n// const textParts = splitText(cleanText, MAX_MESSAGE_LENGTH);\n\n// Возвращаем результат\nreturn [{\n  cleanText:cleanText\n}]\n// return textParts.map((part, index) => ({\n//   json: {\n//     text: textParts.length > 1 ? `📝 Часть ${index + 1}/${textParts.length}\\n\\n${part}` : part,\n//     cleanText: part,\n//     part: index + 1,\n//     total_parts: textParts.length\n//   }\n// }));\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1392,32],"id":"a565e501-0fda-4295-8c64-fc7ffb0fb28b","name":"Delete_Think_Block2","onError":"continueErrorOutput"},{"parameters":{"method":"POST","url":"https://api.perplexity.ai/chat/completions","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"model\": \"sonar-reasoning\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"{{ $('Merge').all()[1].json.instruction }}\"\n    },\n    {\n      \"role\": \"user\",\n        \"content\": \"Текст ошибки `{{ $json.error }}`. Данный текст выдал узел `{{ $json.nodeName }}`. Имя пользователя `{{ $json.userName }}`. Телеграм-профиль:`{{ $json.userSername }}`\"\n    }\n  ]\n}\n","options":{}},"id":"8a69cda8-fd08-4465-9368-04964f468b3d","name":"Error Analizing","type":"n8n-nodes-base.httpRequest","position":[1184,32],"typeVersion":4.2,"executeOnce":false,"credentials":{"httpHeaderAuth":{"id":"afYGpLOub3YhkslO","name":"Header Auth account"}},"onError":"continueErrorOutput"},{"parameters":{"jsCode":"\nconst text = $json.cleanText\n  .replace(/[\"]/g, '\\'')\n  .replace(/[\\b]/g, '\\\\b')\n  .replace(/[\\f]/g, '\\\\f')\n  .replace(/[\\n]/g, '')\n  .replace(/[\\r]/g, '\\\\r')\n  .replace(/[\\t]/g, '\\\\t')\n  .replace(/[_*[\\]()~`>#+\\-=|{}.!]/g, '\\\\$&');\n\n\nreturn [{\n  json:{\n    \"answer\": text\n  }\n}];\n\n\n\n\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1584,32],"id":"7e2a7d19-d550-4bac-8926-919ce4c59bf9","name":"Экранирование для Телеграм1","onError":"continueErrorOutput"}],"connections":{"Perplexity Research":{"main":[[{"node":"Change Links","type":"main","index":0}],[{"node":"Get Error.","type":"main","index":0}]]},"Telegram Trigger":{"main":[[{"node":"Is_User_Msg","type":"main","index":0}]]},"Send a text message":{"main":[[],[{"node":"Get Error.","type":"main","index":0}]]},"Delete_Think_Block":{"main":[[{"node":"Экранирование для Телеграм","type":"main","index":0}],[{"node":"Get Error.","type":"main","index":0}]]},"Экранирование для Телеграм":{"main":[[{"node":"Merge2","type":"main","index":0},{"node":"Make Prompt","type":"main","index":0}],[{"node":"Get Error.","type":"main","index":0}]]},"Change Links":{"main":[[{"node":"Delete_Think_Block","type":"main","index":0}],[{"node":"Get Error.","type":"main","index":0}]]},"Send Hello message":{"main":[[],[{"node":"Get Error.","type":"main","index":0}]]},"Get Error.":{"main":[[{"node":"Merge","type":"main","index":0},{"node":"Make Prompt1","type":"main","index":0}]]},"Is_User_Msg":{"main":[[{"node":"Perplexity Research","type":"main","index":0}],[{"node":"Send Hello message","type":"main","index":0}]]},"Merge2":{"main":[[{"node":"Reformat Message For Telegram","type":"main","index":0}]]},"Delete_Think_Block1":{"main":[[{"node":"Split_Text_For_Telegram","type":"main","index":0}],[{"node":"Get Error.","type":"main","index":0}]]},"Split_Text_For_Telegram":{"main":[[{"node":"Send a text message","type":"main","index":0}],[{"node":"Get Error.","type":"main","index":0}]]},"Make Prompt":{"main":[[{"node":"Merge2","type":"main","index":1}],[{"node":"Get Error.","type":"main","index":0}]]},"Reformat Message For Telegram":{"main":[[{"node":"Delete_Think_Block1","type":"main","index":0}],[{"node":"Get Error.","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Error Analizing","type":"main","index":0}]]},"Make Prompt1":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Delete_Think_Block2":{"main":[[{"node":"Экранирование для Телеграм1","type":"main","index":0}]]},"Error Analizing":{"main":[[{"node":"Delete_Think_Block2","type":"main","index":0}]]},"Экранирование для Телеграм1":{"main":[[{"node":"On Error","type":"main","index":0},{"node":"On Error1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"206211be-6ed6-444c-b0fe-56df9d043b1d","triggerCount":0,"shared":[{"createdAt":"2025-08-23T21:00:35.014Z","updatedAt":"2025-08-23T21:00:35.014Z","role":"workflow:owner","workflowId":"pJEVoteweyFVf8I7","projectId":"IleytSzahKgJVE8V","project":{"createdAt":"2025-08-23T08:28:18.741Z","updatedAt":"2025-08-23T10:48:47.350Z","id":"IleytSzahKgJVE8V","name":"Oleg Ovchinnikov <olegovnino@mail.ru>","type":"personal","icon":null,"description":null,"projectRelations":[{"createdAt":"2025-08-23T08:28:18.741Z","updatedAt":"2025-08-23T08:28:18.741Z","role":"project:personalOwner","userId":"8c5ac946-8157-4148-a581-c85f73d34327","projectId":"IleytSzahKgJVE8V","user":{"createdAt":"2025-08-23T08:28:18.218Z","updatedAt":"2025-09-24T08:11:53.372Z","id":"8c5ac946-8157-4148-a581-c85f73d34327","email":"olegovnino@mail.ru","firstName":"Oleg","lastName":"Ovchinnikov","personalizationAnswers":null,"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"LB07ov0GUG7GKygf","userActivatedAt":1757667384674,"npsSurvey":{"waitingForResponse":true,"ignoredCount":2,"lastShownAt":1758701500426}},"role":"global:owner","disabled":false,"mfaEnabled":false,"lastActiveAt":"2025-09-23","isPending":false}}]}}],"tags":[]}